/* Flexbox */
.d-flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.flex1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.w-100 {
  width: 100%;
}

.h-32px {
  height: 32px;
}

.h-100 {
  height: 100%;
}
.mx-16 {
  margin: 0 12px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}

.cursor-pointer {
  cursor: pointer;
}
