* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.hide-modal {
  display: none;
}

.data-row {
  position: relative;
}

.data-row .action-buttons {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  gap: 8px;
  z-index: 1;
}

.data-row:hover .action-buttons {
  display: flex;
}

.action-buttons .btn-edit,
.action-buttons .btn-delete {
  /* width: 24px;
    height: 24px; */
  border: none;
  outline: none;
  /* border-radius: 4px; */
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-buttons .icon-update:hover {
  background-color: #005a9e;
}

.action-buttons .icon-delete:hover {
  background-color: #d9534f;
}
